<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroName.value); heroName.value = ''">Add</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)"> <!--ngFor,属性绑定,事件-->
    <span class="badge">{{ hero.id }}</span><!--插值表达式-->
    <span>{{ hero.name }}</span>
    <button (click)="delete(hero); $event.stopPropagation()">X</button>
    <!--事件绑定——当用户点击时调用组件的delete方法-->
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{ selectedHero.name | uppercase}} is my hero<!--管道擅长做的工作：格式化字符串、金额、日期和其它显示数据-->
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<!--angular的模板语法，自定义组件-->
<!--<my-hero-detail [hero]="selectedHero"></my-hero-detail> &lt;!&ndash;来自hero-detail组件——绑定——目标属性声明为输入属性&ndash;&gt;-->
<!--属性绑定——将父组件的selectedHero值传到子组件的hero属性中-->
